:root {
  --primary-color: #fafafa;
}

body {
  margin: 0;
  padding: 0;
}
.main {
  margin: 0;
  position: relative;
  width: 100vw;
  height: 100vh;
  background: var(--primary-color);
  /* display: flex;
  justify-content: center;
  align-items: center; */
  background-image: url(./assets/field.png);

  background-repeat: repeat-x;

  animation: back 15s infinite linear;
}
.animal-container {
  height: 42vh;
  width: 55vw;
  position: relative;
  margin: 0;
  top: 60%;
  left: 28rem;
}
.animal {
  position: relative;
  background: rgb(53, 53, 53);
}
.animal-head {
  height: 6rem;
  width: 7rem;
  /* border-radius: 49px 16px 41px 9px; */
  margin: 7px;
  background: var(--primary-color);
  z-index: 5;
  background: transparent;
}
.animal-head img {
  height: 100%;
  width: 100%;
}
.animal-body {
  height: 6.4rem;
  width: 13.7rem;
  left: 4.27rem;
  top: -2.7rem;
  border-radius: 26px 48px 59px 83px;
}
.animal-tail {
  width: 5.7rem;
  height: 0.9rem;
  top: -8.5rem;
  left: 16.5rem;
  transform: rotate(345deg);
  transform: translateZ(-20%);
  transform-origin: left;
  border-radius: 15px;
  animation: tail 700ms infinite alternate-reverse
    cubic-bezier(0.215, 0.61, 0.355, 1);
}
.legs {
  height: 5.7rem;
  width: 0.9rem;
  border-radius: 26px 48px 59px 83px;
  position: relative;
  /* top: 49%; */
  transform-origin: top;
  transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 100ms;
  animation: walk 1s infinite alternate-reverse ease-in-out;
}
.frontleg-one {
  top: -4.6rem;
  left: 6.5rem;
}
.frontleg-two {
  top: -10.2rem;
  left: 7.8rem;

  animation-delay: 1s;
}
.hindleg-one {
  top: -15.59rem;
  left: 14.2rem;
}
.hindleg-two {
  top: -21.5rem;
  left: 15.5rem;

  animation-delay: 1s;
}
.legs::after {
  content: "";
  position: absolute;
  height: 1rem;
  width: 1em;
  background: rgb(39, 38, 38);
  top: 88%;
  border-radius: 10px 0 10px 0;
  border-radius: 10px 10px 0 0;
}

@keyframes walk {
  0% {
    transform: rotate(-29deg);
  }
  100% {
    transform: rotate(20deg);
  }
}
@keyframes tail {
  100% {
    transform: rotate(350deg);
  }
}
@keyframes back {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 550%;
  }
}
